@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1200px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 40px;

////////////////////
// フォント設定
////////////////////

$noto: "Noto Serif JP",serif;
$yumin: "游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 Pro","Hiragino Mincho Pro","MS P明朝","MS PMincho",serif;
// ※検証ツールでしっかり反映されているか確認する


// フォントウェイト
$regular: 400;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #5E5E5E;
$white: #ffffff;
$beige: #C5CBC0;


body {
  font-family: $noto;
  font-weight: $regular;
  color: $black;
  background-color: #F8F8F8;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
  /* メニューオープン時はbody側スクロール禁止 */
}

a{
  transition: 0.3s;
}

a:hover{
  opacity: 0.6;
}
