@use "global" as *;

.btn{
  font-size: rem(14);
  line-height: calc(32 / 14);
  letter-spacing: 0.2857em;
  padding-bottom: rem(10);
  padding-right: rem(52);
  border-bottom: 1px solid #5E5E5E;
  position: relative;
}

.btn::after{
  content: "";
  background-image: url('../images/common/btn_arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(7);
  height: rem(8);
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-30%);
}