@use "global" as *;

.btn{
  font-size: rem(14);
  line-height: calc(32 / 14);
  letter-spacing: 0.2857em;
  padding-bottom: rem(10);
  border-bottom: 1px solid $black;
  position: relative;
  display: block;
  @include mq(md) {
      font-size: rem(12);
      line-height: calc(32 / 12);
      letter-spacing: 0.33em;
      padding-bottom: rem(2);
  }
}

.btn--hum{
  display: inline-block;
  color: $beige;
  border-color: $beige;
  padding-right: rem(20);
}

.btn::after{
  content: "";
  background-image: url('../images/common/btn_arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(7);
  height: rem(8);
  position: absolute;
  right: 0;
  top: 35%;
  transform: translateY(-35%);
  @include mq(md) {
      top: 40%;
      transform: translateY(-40%);
  }
}

.btn--hum::after{
  background-image: url('../images/common/btn_arrow_beige.png');
  top: 38%;
  @include mq(md) {
      top: 48%;
  }
}