@use "global" as *;

.gallery-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: rem(50);
  margin-bottom: rem(50);



}

.gallery-2__image{
}

.gallery-2__image:nth-of-type(5n+1) {
  grid-column: 1;
  grid-row: auto;
}

.gallery-2__image:nth-of-type(5n+2) {
  grid-column: 1;
  grid-row: auto;
}

.gallery-2__image:nth-of-type(5n+3) {
  grid-column: 1;
  grid-row: auto;
}

.gallery-2__image:nth-of-type(5n+4) {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.gallery-2__image:nth-of-type(5n) {
  grid-column: 2;
  grid-row: 2;
}


.gallery-2__image img {
  object-fit: cover;
}

.gallery-2__image:nth-of-type(5n+1) img {
  aspect-ratio: 515 / 229;
}

.gallery-2__image:nth-of-type(5n+2) img {
  aspect-ratio: 515 / 498;
}

.gallery-2__image:nth-of-type(5n+3) img {
  aspect-ratio: 515 / 272;
}

.gallery-2__image:nth-of-type(5n+4) img {
  aspect-ratio: 515 / 628;
}

.gallery-2__image:nth-of-type(5n) img {
  aspect-ratio: 515 / 421;
}
