@use "global" as *;

.hum {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: rem(40);
  height: rem(84);
  min-height: rem(84);
  position: relative;
  overflow: visible;
  cursor: pointer;
  z-index: 9999;
  padding: rem(44) 0 rem(20);
  will-change: transform, opacity;
  transition: 0.3s ease-in-out;
  @include mq(md) {
    height: rem(20);
    // SP版はMV越えたら表示
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
}

.hum.is-active {
  @include mq(md) {
      // MVを越えてis-activeが付いたらhum表示
      opacity: 1;
      visibility: visible;
  }
}

.hum:hover{
  opacity: 0.6;
}

.hum__bar {
  content: "";
  width: rem(32);
  height: rem(2);
  background-color: $beige;
  border-radius: 10px;
  display: block;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  @include mq(md) {
    background-color: $black;
    transition:  0.5s ease-in-out;
  }
}

//　MVより下での三本線の色
.hum.is-active .hum__bar{
  background-color: $black;
}

// メニューオープン時のバツの色
.hum.is-open .hum__bar{
  background-color: $beige;
}

// バツマークに変形
.hum.is-open .hum__bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hum.is-open .hum__bar:nth-child(2) {
  opacity: 0;
}

.hum.is-open .hum__bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}