@use "global" as *;

.intro__text{
  font-size: rem(14);
  writing-mode: vertical-rl;
  line-height: rem(56);
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.7em;
  @include mq(md) {
      font-size: rem(11); 
      line-height: min(7.5vw,rem(36));
      letter-spacing: 0.1em;
  }
}