@use "global" as *;

.mv {
  position: relative;
}

.mv__logo-wrapper {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -54%);
  text-align: center;
  @include mq(md) {
      top: 50%;
      transform: translate(-50%, -50%);
  }
}

.mv__logo-icon {
  width: rem(91);
  margin-bottom: rem(10);
  display: inline-block;
  @include mq(md) {
    width: rem(57);
    margin-bottom: rem(14);
  }
}

.mv__logo-text {
  width: rem(179);
  @include mq(md) {
      width: rem(111);
  }
}

.mv__image {
  height: 100vh;
  @include mq(md) {
      height: 80vh;
  }
}

.mv__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}