@use "global" as *;

/* スクロールインジケーターの親コンテナ */
.scroll-indicator {
  position: absolute;
  bottom: rem(-93);
  /* MVの最下部に設置（適宜調整） */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 丸い部分 */
.scroll-indicator__circle {
  width: rem(5);
  height: rem(5);
  background-color: #C5CAC1;
  border-radius: 50%;
  margin-bottom: rem(17);
}

/* 棒の部分 */
.scroll-indicator__line {
  width: 1px;
  height: rem(185);
  background-color: #C5CAC1;
  position: relative;
  overflow: hidden;
}

/* 流れるアニメーション */
.scroll-indicator__line::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C5CAC1;
  animation: scroll-animation 2s infinite linear;
}

/* アニメーション定義 */
@keyframes scroll-animation {
  0% {
    top: -100%;
  }

  100% {
    top: 100%;
  }
}